@font-face {
  font-family: "Suez_One";
  src: url("./fonts/suezone.ttf");
}

.page {
  position: absolute;
  top: 110px;
  left: 80px;
}

.background {
  background-color: #141414;
  height: 1000px;
}

.square {
  height: 230px;
  width: 230px;
  border-radius: 15px;
}

.square link:hover {
  color: rgba(127, 21, 232, 0.5);
}

.gameTileGrid {
  display: grid;
  grid-template-columns: 250px 250px 250px;
  grid-template-rows: 250px 250px;
  align-items: center;
  justify-items: center;
  margin-left: -10px;
}

.whiteText{
  color: white;
}

.headingTextWhite{
  color: white;
  font-family: Suez_One;
  display: inline;
}

.headingText{
  color: #8015E8;
  grid-column: 1/4;
  font-family: Suez_One;
  justify-self: start;
  display: inline;
}

hr.purple {
  border-top: 2px solid #8015E8
}