.page {
  position: absolute;
  top: 110px;
  left: 80px;
}

.square {
  height: 330px;
  width: 330px;
  /* background-color: black; */
  background: url(./pics/minecraft.jpg) 50% 50% no-repeat;
  border-radius: 15px;
}

.gameTileGrid {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  grid-template-rows: 50px 350px 350px;
  align-items: center;
  justify-items: center;
}

.whiteText{
  color: white;
}

.headingText{
  color: #8015E8;
  grid-column: 1/4;
  justify-self: start;
}