.pageBackground {
  background-color: #141414;
}

.backToHome {
  color: white;
}

.register {
  color: white;
}

.loginPageButton {
  background-color: #8015E8;
  font-size: 18px;
  width: 150px;
  letter-spacing: 1.5px;
  width: 100%;
}

.container {
  margin-left: 30%;
  width: 50%;
}
