@font-face {
  font-family: "Suez_One";
  src: url("./fonts/suezone.ttf");
}

.pageBackground {
  position: fixed;
  background-color: #141414;
  width: 100%;
  height: 2000px;
  margin-top: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -10;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%
}

.topBar {
  position: fixed;
  margin: 0%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 95px;
  background-color: #8015E8;
  border-width: 5px;
  border-color: black;
  border-radius: 0px;
  z-index: 10;
}

.circle {
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 50%;
}

.topBarGrid {
  display: grid;
  min-height: 100px;
  height: 100%;
  width: 100%;
  grid-template-columns: 5% 18% 10% 45% 16% 10%;
  margin-left: 0.5%;
  align-items: center;
  justify-content: start;
  z-index: 2;
}

.leftBar {
  /*Probably need a grid class to arrange all the circle elements for followed games*/
  position: fixed;
  width: 65px;
  height: 1000px;
  top: 96px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #323232;
}

.websiteNameButton {
  font-size: 250%;
  font-family: Suez_One;
  color: white;
  text-decoration: none;
}

.allGamesButton {
  font-size: 22px;
  font-family: Suez_One;
  color:white;
  text-decoration: none;
}

.userName {
  font-size: 22px;
  font-family: Suez_One;
  color:white;
  justify-self: start;
}

.searchBar {
  font-family: "Suez_One";
  width: 55%;
  margin-top: 10px;
}

.loginButton {
  background-color: white;
  color: black;
  letter-spacing: 1.5px;
  font-family: "Suez_One";
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  margin-left: 80px;
}

a:hover {
  color: #D2ACF7;
  text-decoration: none;
}

.profileDropdown {
  font-family: "Suez_One";
  padding-bottom: 2px;
  letter-spacing: 1.5px;
}